
PORT=3030
APP_URL=http://localhost:3030
FRONTEND_URL=http://localhost:4321

# ---------- Database (Neon / Postgres) ----------
DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=require

JWT_SECRET=
JWT_EXPIRED=1h
REFRESH_TOKEN_EXPIRED=24h

COOKIE_SECURE=false
COOKIE_SAMESITE=Lax

CLOUDINARY_URL=
